<h1><%= @list.name %></h1>
<br>

<% @list.bookmarks.each do |movie| %>
  <%@movie = Movie.find(movie.movie_id) %>
  <%= @movie.title %> <li><%= "â­"*@movie.rating.round %></li>
  <img src="<%= @movie.poster_url%>" alt= "<%= @movie.title%>">
  <%= movie.comment %>
  <%= link_to bookmark_path(movie), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>
  <br>
<% end %>
<br>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list.id) %>
